<%= csrf_meta_tags %>
<h1>Urls</h1>

<table id="requests">
  <tr >
    <th>Url</th>
  </tr>

  <% @url_requests_attr.each do |url_request| %>
    <tr>
      <td><%= url_request %></td>
    </tr>
  <% end %>
</table>